

<form class="login100-form"
      autocomplete="off"
      [formGroup]="authForm"
      (ngSubmit)="login()"
      >

    <span class="login100-form-title p-b-49">
        Login
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Nombre de Usuario</span>
        <input class="input100"
               type="username"
               formControlName="username"
               placeholder="Nombre de Usuario">
        <span class="focus-input100"></span>
    </div>

    <div class="wrap-input100">
        <span class="label-input100">Contraseña</span>
        <input class="input100"
               type="password"
               formControlName="password"
               placeholder="Ingrese su contraseña">
        <span class="focus-input100"></span>
    </div>

    <div class="text-right p-t-8 p-b-31"></div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                    [disabled]="authForm.invalid"
                    type="submit">
                Login
            </button>
        </div>
    </div>
</form>
